# Functions

   * **The general syntax of creating a function**

   * **Why would I create functions?**
   
   
   * **Answer:** 
   
        - **if you want to reuse the code**
   
        - **if you find yourself copy and paste**
        
        - **If you intend to extend your programming abilities**

In [4]:
def func_name(arg1, agr2, /):
    # Body of a function
    pass

In [5]:
# Define the first function in python 
def my_func(): 
    print('Hello python!')

In [6]:
# Calling a function
my_func()

Hello python!

In [7]:
my_func

In [8]:
type(my_func)

function

In [9]:
# Create another function

def call_myself(): 
    print("I am a function")

call_myself()

I am a function

## Adding arguments

In [10]:
def test(num):
    print('This number is:', num)

In [11]:
test()

TypeError: test() missing 1 required positional argument: 'num'

In [12]:
test(12)

This number is 12

In [21]:
## More arguments

def test2(num1, num2, num3):
    print('My numbers are:', num1, num2, num3, sep = '|')

In [22]:
test2(12, 34, 56)

My numbers are:|12|34|56

## Default arguments (Optional argument)

In [29]:
def test3(num1, num2 = 33, num3 = 44): 
    print('My numbers are:', num1, num2, num3, sep = '|')

In [30]:
test3()

TypeError: test3() missing 1 required positional argument: 'num1'

In [31]:
test3(22)

My numbers are:|22|33|44

In [32]:
test3(22, 100)

My numbers are:|22|100|44

In [28]:
test3(22, 100, 200)

My numbers are:|22|100|200

### None   
   * **If you don't want to have a default value but you still want the parameter to be optional, then you can assign it to the value None**.

In [35]:
def test4(num1, num2 = None, num3 = 44): 
    print('My numbers are:', num1, num2, num3, sep = '|')

In [36]:
test4(22)

My numbers are:|22|None|44

In [37]:
test4(22, 333)

My numbers are:|22|333|44

### Why None

   * **It is useful in many cases because you can test for it**

In [38]:
def test5(num1, num2 = None, num3 = 44): 
    if num2 is None:
        num2 = 889
    print('My numbers are:', num1, num2, num3, sep = '|')

In [39]:
test5(2)

My numbers are:|2|889|44

In [40]:
test5(101, 202)

My numbers are:|101|202|44

## Longer programs

In [33]:
## the main function
def main(): 
    print_me()
def print_me():
    print('I am a function')
    
if __name__ == "__main__":
    main()

I am a function

## Returning values

   * **return keyword**

In [41]:
def my_func(): 
    return("I am a function")

In [42]:
my_func()

'I am a function'

In [47]:
def square(x):
    return x**2
square(3)

9

In [48]:
# Why return 
# Let us try this example
print(12)

12

In [49]:
# Let us assign the result of print to a variable

res = print(12)
print(res)

12
None

In [50]:
# But with square function 
x = square(2)
print(x)

4