# Decalaring Variables

### Everything in python is an object

1. A variable holds a piece of information
2. Every object in python has an ID, type, and a value

        * The ID: is unique for every instance of an object
        * Type: Indentifies the class of an object, or the category which it belongs to
        * Value: is the content of the object

### Two concepts must be mastered first

    1. Mutable object: can change their value
    2. Immutable object: cannot change their value

## Variables 01: Strings ( or text)

In [18]:
a = 'x'      
# Or 
a = "x"
print(a)
print(a)
## Use single or double quotes with strings

x
x

## Concepts:
    * x is a variable, or in python parlance (Object)
    * '=' is the assignment operator
    * 'A' is the value or the information the variable holds

#### Note: Variable names are case sensitive; thus, saad is different than Saad

In [19]:
B = 'x' 
b = 'x'
# two different variables refer to the same object
B, b

('x', 'x')

## Checking the ID of string variables

In [20]:
id(b)

140200035997616

In [21]:
id(B)

140200035997616

**We that they have the same ID**

In [22]:
# But 
c = 'y'
C = 'Y'
print(id(c))
print(id(C))

140200125015472
140200125015856

## Checking the type

In [23]:
type(a)
type(b)
type(c)

str

## Words

In [24]:
wrd_1 = "Python"
wrd_1

'Python'

In [25]:
type(wrd_1)

str

## Sentences

In [27]:
sent = "I love python"
print(sent)

I love python

In [28]:
type(sent)

str

# The str() function

In [33]:
## str() function converts the object into string type
# help(str) for more information
str(1)

'1'

In [34]:
str(102)

'102'

## Checking the methods of str  type

In [36]:
print([meth for meth in(dir(str)) if '__' and '_' not in meth])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Examples of string methods

In [37]:
## upper method
l_str = 'my name is python' 
l_str.upper()

'MY NAME IS PYTHON'

In [38]:
# save the upper to an object
up_str = l_str.upper()
up_str

'MY NAME IS PYTHON'

In [39]:
## lower method
up_str.lower()

'my name is python'

# The important thing is that we access the class methods using the dot (.) operator

## Other methods Examples

In [49]:
msg = 'I love python'
msg.count('o')

2

In [50]:
msg.split()

['I', 'love', 'python']

## Practice
    1. create three variables holding one character
    2. create three words
    3. create three sentences
    4. check the type and the ID of each variable
    5. lower the case of an uppercase string variable
    6. upper the case of a lowercase string variable

## Numbers

In [55]:
x = 12
x

12

In [56]:
# Checking the type
type(x)

int

In [57]:
print(type(x))

<class 'int'>

In [58]:
# Another variable 
y = 1.2
print(type(y))

<class 'float'>

## Real Examples with numbers

In [66]:
age = 25
print(age)

25

In [67]:
height = 1.78
weight = 67.95

In [68]:
print(height)
print(weight)

1.78
67.95

## int() and float() function

    . If you want to change the type of number you can use int() to convert a float number into an integer
    . Or you can convert an integer into a float

In [69]:
myInt = 23
myInt

23

In [73]:
myFloat = float(myInt)
myFloat

23.0

In [74]:
type(myFloat)

float

In [75]:
## Convert the float into integer

In [76]:
floatToInt = 12.4

In [77]:
int(floatToInt)

12

    **You have to be careful of converting from float to int, because you may lose information**

In [78]:
### Checking the methods for ints and floats

In [79]:
print([meth for meth in(dir(int)) if '__' and '_' not in meth])

['conjugate', 'denominator', 'imag', 'numerator', 'real']

In [80]:
print([meth for meth in(dir(float)) if '__' and '_' not in meth])

['conjugate', 'fromhex', 'hex', 'imag', 'real']

## Practice with numbers
    1. Create three integers and check the type and the id 
    2. Create three floats and check the type and the id
    3. Convert an integer into a float
    4. Convert a float into an integer

### Note, I was using two different styles. The ChamelCase and underscore, this is not a good practice. Choose only one style of writing code and stick to it. I will use underscore from now on.

# Lists

### Lists are mutable, means they can change their values

    1. Creating lists using []

In [81]:
my_list1 = ['A', 'B', 'C']
my_list1

['A', 'B', 'C']

In [82]:
print(type(my_list))

<class 'list'>

In [83]:
my_list2 = [1, 4, 7]
my_list2

[1, 4, 7]

In [84]:
my_list3 = ['Python', 12, 93.7]
my_list3

['Python', 12, 93.7]

## len() function for the length of a list

In [85]:
len(my_list3)

3

In [87]:
## Check the length of a word
len('python')

6

### Creating lists using list() function

In [89]:
my_word = 'Python'
wort_to_list = list(my_word)
wort_to_list

['P', 'y', 't', 'h', 'o', 'n']

## The methods of lists

In [88]:
print([meth for meth in(dir([])) if '__' and '_' not in meth])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Real Example

    A father wants to store the names of his children using a list
    He has two sons now

In [106]:
baby_names = ['Ahmed', 'Omar']

In [107]:
baby_names

['Ahmed', 'Omar']

In [108]:
## The family got a new baby

In [109]:
baby_names + ['Salim']

['Ahmed', 'Omar', 'Salim']

#### The list can have another element. we can add elements, remove or change. That what we mean by mutable

## Using some list methods

1. count

In [110]:
baby_names.count('Salim')

0

2. append

In [112]:
baby_names = ['Ahmed', 'Omar']
baby_names.append('Salim')

In [113]:
baby_names

['Ahmed', 'Omar', 'Salim']

## Practice

    1. Create three lists 
    2. Create a list its elements are lists
    3. Save the names of yours students as a list
    4. Save the subjects you teach as a list
    5. Think of other cases where lists are the choise for storing your objects