## Lists methods in depth
## ---------------------------

   - **Append method adds one element at a time to the end of a list**

In [52]:
my_list = [11, 22, 33, 44]
print(my_list)

[11, 22, 33, 44]

In [53]:
my_list.append(55)
print(my_list)

[11, 22, 33, 44, 55]

   - **What if we want to add more than one element**

In [ ]:
my_list.append(66, 77)

In [55]:
# It did not work
# we can try something else
my_list.append([66, 77])
print(my_list)

[11, 22, 33, 44, 55, [66, 77]]

   * **Surprising output, isn't it!**

### Extend method
    
   * **extend method adds multiple elements at the end of a list**

In [51]:
my_list2 = [10, 20, 30]
print(my_list2)
## Let us add two elements
## In R we use c() function

my_list2.extend([40, 50])
print(my_list2)

[10, 20, 30]
[10, 20, 30, 40, 50]

### Practice

   - **Create a list**
   
   - **Append new elements to the list**
   
   - **Add multiple elements to the list**

1

### Insert method

In [ ]:
my_list.insert(0, 1)
print(my_list)

## Other methods

   * **remove**, **pop**, **index**, **clear**, **etc ...**

## Practice: 

 * **Try to use the methods and learn them**

## Subsetting Lists (Slicing)

   - **Indexing in python start from ZERO (Remember ZERO NOT ONE)**

In [21]:
ind_list = [10, 20, 30, 40, 50, 60]
print(ind_list)

[10, 20, 30, 40, 50, 60]

In [34]:
## Follow this code
for ind in ind_list:
    print(ind_list.index(ind), end = " ")

0 1 2 3 4 5

In [56]:
first_item = ind_list[0]
second_item = ind_list[1]
print(first_item)
print(second_item)

10
20

In [63]:
last_item = ind_list[-1]
print(last_item)

60

In [57]:
## list[start:stop]
ind_list[2:4]

[30, 40]

In [64]:
# Use len() to designate the end of a list
ind_list[4:len(ind_list)]

[50, 60]

In [37]:
## From to the end of a list, Use the start index + : list[start:]
ind_list[3:]

[40, 50, 60]

In [38]:
## Up to use this syntax: list[:stop]
ind_list[:3]

[10, 20, 30]

### Subsetting a list

   * **Syntax is [start:stop], the element of index end is not included, thus we call them non-inclusive**

In [27]:
first_two_elem = ind_list[0:2]
first_two_elem

[10, 20]

   * **Negative indexing is possible in python** 
   * **For example: a list of three elements indexed as follows**
 [0, 1, 2] or, [-3, -2, -1]

In [45]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg")

In [59]:
# last element
ind_list[-1]

60

In [60]:
# last two elements
ind_list[-2:]

[50, 60]

In [61]:
# All elements
ind_list[-len(ind_list):]

[10, 20, 30, 40, 50, 60]

### One trick to reverse a list

In [28]:
reversed_list = ind_list[::-1]
reversed_list

[60, 50, 40, 30, 20, 10]

In [68]:
# You can reverse a list using the reverse method
ind_list.reverse()
print(ind_list)

[10, 20, 30, 40, 50, 60]

## Strings are sequences as well

In [ ]:
str_list = list('python')
print(str_list)

## Practice 

   - **Slice the str_list**
   
   1. Get the first letter
   2. Get the two first letters
   3. Get the last letter 
   4. Get the last two letters
   5. Get 'th' from str_list

## Babies names example

In [69]:
babies_names = [['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aarya', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abby', '27', '23'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abigail', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aisha', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiza', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aleena', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexandra', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alice', '24', '26'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alicia', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alina', '41', '10'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisa', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisha', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Allison', '15', '35']]

   - **Get the first element**
   - **Get the first element of the sublist**

## Tuples
   1. **Tuples are immutable, you cannot change their values**
   
         - **We cannot insert elements**
         - **We cannot appent elements**
         - **We cannot delete elements after the tuple has been created**
         - **We cannot change the tuple**

         
   2. **Tuples are useful for operating on a fixed list of things**
   
 
   3. **Tuples are created using parentheses "()"**

In [ ]:
tup1 = (1, 2, 3)
print(tup1)

In [ ]:
## Check the class
type(tup1)

In [ ]:
print(type(tup1), tup1)

In [ ]:
## Check the length of the tuple (how many elements are there inside the parentheses)
len(tup1)

In [13]:
## Let us try to insert or append an element to a tuple
tup1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
tup1.insert(0, 0)

AttributeError: 'tuple' object has no attribute 'insert'

## methods of tuples

In [14]:
print([meth for meth in(dir(tuple())) if '__' and '_' not in meth])

['count', 'index']

In [15]:
tup1.count(1)

1

In [16]:
tup1.index(3)

2

# Dictionaries: The root of python

   * **They might be called arrays of hash tables in other programming languages**
   

   * **We use the curly braces "{}" for defining a dictionary**
   
   * **Dictionaries are useful for storing key-value pairs, sometimes called item** 
   
   * **They are defined using this syntax {'key':value}**
   
   * **The distinction between lists and dictionaries. In a list, the indices must be integers, but in a dictionary they can be any type**
   
   * **There is a joke in python: Everything in in python is a dictionary**

# Dictionaries characteristics

   - **Dictionaries are mutable objects**
   
   
   - **The key is unique in a dictionary, and must immutable**
   
   - **Dictionaries starting from python 3.7 are ordered**

In [39]:
dic = {'One': 1, 'two': 2, 'three':3}
print(dic)

{'One': 1, 'two': 2, 'three': 3}

In [75]:
# Define a new dictionary
dic2 = {one: 1, two: 2}

NameError: name 'one' is not defined

In [79]:
dic3 = {'One': 1, 'two': 222, 'two':22}
print(dic3)

{'One': 1, 'two': 22}

In [80]:
dic4 = {1:'Python', 2:'R', 3:'C', 4:'Java'}
print(dic4)

{1: 'Python', 2: 'R', 3: 'C', 4: 'Java'}

In [81]:
## Check the type

print(type(dic4), dic4)

<class 'dict'> {1: 'Python', 2: 'R', 3: 'C', 4: 'Java'}

## A better way to create a dictionary is dict() function

In [84]:
my_dict = dict(
    one= 1,
    two= 2,
    three= 3
)
print(my_dict)

{'one': 1, 'two': 2, 'three': 3}

In [86]:
## Creating an empty dictionary

empty_dict = {}
empty_dict

{}

## Practice 

  * **Create two dictionaries holding information of your choice**

## Real Examples: Courses and subjects

In [88]:
course_professors = {
    'calculus': "Prof. Philip", 
    'Linear Algebra': 'Prof. Feeny', 
    'real analysis': 'Prof. Denis'
}

student_courses = {
    'Adam': [ 'calculus', 'Linear Algebra'], 
    'Ilyas': ['real analysis', 'calculus', 'Linear Algebra'], 
    'Andro': ['linear algebra']
}

print(course_professors)
print('\n')
print(student_courses)

{'calculus': 'Prof. Philip', 'Linear Algebra': 'Prof. Feeny', 'real analysis': 'Prof. Denis'}


{'Adam': ['calculus', 'Linear Algebra'], 'Ilyas': ['real analysis', 'calculus', 'Linear Algebra'], 'Andro': ['linear algebra']}

## Practice: 

- **Create a dictionary for storing information of your interest**

## Methods of dictionaries

In [85]:
print([meth for meth in(dir({})) if '__' and '_' not in meth])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [90]:
# Getting the keys of a dictionary
print(my_dict.keys())

dict_keys(['one', 'two', 'three'])

In [92]:
# GETTING THE VALUES OF A DICTIONARY
print(my_dict.values())

dict_values([1, 2, 3])

In [91]:
# Getting the items of a dictionary

print(my_dict.items())

dict_items([('one', 1), ('two', 2), ('three', 3)])

## Modifying a dictionary

In [93]:
my_dict['four'] = 4
print(my_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

## Another example for creating a dictionary

1. Create an empyt dictionary

2. Start addind items

In [99]:
student_info = {}

In [100]:
student_info['name'] = 'Ahmed'

In [101]:
student_info['Country'] = 'Spain'

In [102]:
print(student_info)

{'name': 'Ahmed', 'Country': 'Spain'}

In [ ]:
## Add age, study, ...