## Sets

   - Sets are excellent for finding all the unique values in a column of your data, a list of elements, or even rows from a file.
   
   
   - We use sets when we want to store **unique (no duplicates)** data elements in an unordered fashion.
   
   - Sets are mutable
   
   - A set is created using {}

In [ ]:
s1 = {1, 2, 3}
print(s1)
print(type(s1))

In [ ]:
s2 = {'a', 'b', 'c'}
print(s2)

In [ ]:
# Set elements are unique
s3 = {1, 2, 2, 3, 4, 4}
print(s3)

### A set can be a mixed of data types

In [ ]:
s_mixed = {1, 2, 'Python', (22, 33), 3.14159}
print(s_mixed)

In [ ]:
s_mixed

#### Note

   - **Every set element is must be immutable (cannot be changed).**

In [ ]:
s_mixed2 = {1, 2, 'Python', [22, 33]}
print(s_mixed2)

## Sets from lists

   - A set is almost always created from a list

In [ ]:
names = ['Nassim', 'Ahmad', 'Anas', 'Nassim', 'Anas']
names

In [ ]:
names_set = set(names)
names_set

In [ ]:
print(names_set)

  - This occurs because sets store only unique items

In [ ]:
names_set.add('Ali')
print(names_set)

## Sets from strings

   - **Sets can be created from a string (because strings are iterable)**

In [ ]:
s_str = set('Python')

s_str

In [ ]:
s_str2 = set('nana')
s_str2

### Creating an empty set

   - Use the set() function to create an empty set

In [ ]:
emp_set = set()
print(emp_set)
print(type(emp_set), emp_set)

In [ ]:
# if we try to use empty {} we get a different class

empt = {}
print(type(empt))

### Indexing a set

  - Sets do not support indexing

In [ ]:
ind_set = set('Python')
ind_set

In [ ]:
ind_set[0]

###   Set methods

In [ ]:
print([attr for attr in dir(set()) if '__' not in attr])

## Modifying sets

   1. Adding elements

In [ ]:
## Adding Elements to the set using add() method
names_set.add('Ali')
print(names_set)

   2. **Updating set elements:**
   
   we can add multiple items using the update method. The update method takes a list of items and adds each one to the set if it is not present

In [ ]:
names_set.update(['Nasser', 'Ossama'])
print(names_set)

In [ ]:
# You can use a set to update a set as well

names_set.update({'Muhammad', 'Nabil'})
print(names_set)

   3. Removing elements from a set: discard() and remove() functions

In [ ]:
names_set.discard('Nabil')
names_set

In [ ]:
names_set.discard('Nabil')
names_set

In [ ]:
# remove() function
names_set.remove('Anas')
names_set

In [ ]:
# remove() function
names_set.remove('Anas')
names_set

The only difference between the two is that the discard() function leaves a set unchanged 
if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

## Math Set Theory 

 - **Sets are python's implementation of Set theory from mathematics**

In [ ]:
my_courses1 = set(['Linear Algebra', 'Calculus', 'Applied mathematics'])
my_courses2 = set(['Computing', 'Calculus', 'Linear Algebra'])
print(my_courses1)
print(my_courses2)

   1. **Union**: union() method returns a set of all the names found in the set you used the method on plus any sets passed as arguments to the method.

In [ ]:
all_courses = my_courses1.union(my_courses2)
all_courses

In [ ]:
# Note we can use '|' pip operator if we have two sets
my_courses1 | my_courses2

In [ ]:
# But this fails 
my_courses1 | 'Statistics'

In [ ]:
my_courses1 | set(['Statistics'])

In [ ]:
my_courses1 | set('Statistics')

   2. **Intersection**: You can use .intersection() method to look for overlapping data in sets by passing another set as an argument. It will return an empty set if nothing matches.

In [ ]:
my_courses = set(['Linear Algebra', 'Calculus', 'Applied mathematics'])
friend_courses = set(['Computing', 'Calculus', 'Linear Algebra', 'statistics'])
my_courses

In [ ]:
friend_courses

In [ ]:
both_courses = my_courses.intersection(friend_courses)
both_courses

In [ ]:
# Try to reverse 
both_courses2 = friend_courses.intersection(my_courses)
both_courses2

   3. **Difference**: If you want to compare between sets, you can use difference() method. 
   
       - It returns all the items found in one set but not another.
       
       - It's important to remember the set you call the method on will be the one from which the items are returned. (the one before the dot() operator).

In [ ]:
print(my_courses)
print(friend_courses)

In [ ]:
my_courses_alone = my_courses.difference(friend_courses)
my_courses_alone

# difference method will retrieve items from my_courses if they are not found in friend courses

In [ ]:
his_courses_alone = friend_courses.difference(my_courses)
his_courses_alone
# difference method will retrieve items from friend_courses if they are not found in my_courses