# Pandas DataFrames Common Attributes

In [1]:
import pandas as pd
import numpy as np
from random import choices, seed, sample
from string import ascii_lowercase

In [2]:
seed(10111)
df = pd.DataFrame({'VAR_1': range(1, 12),
                  'VAR_2': choices(range(20, 30), k = 11),
                  'VAR_3': sample(range(10, 200, 14), k = 11)}, 
                 index = list(ascii_lowercase[:11]))
df.head()

   VAR_1  VAR_2  VAR_3
a      1     29    108
b      2     22     38
c      3     26     66
d      4     29     52
e      5     25    136

### Columns Attribute
__columns__ attributes returns the columns (variables) names

In [3]:
df.columns

Index(['VAR_1', 'VAR_2', 'VAR_3'], dtype='object')

### Values Attribute
 __values__ attributes returns the data contained in the DataFrame as a 2D ndarray.

In [4]:
df.values

array([[  1,  29, 108],
       [  2,  22,  38],
       [  3,  26,  66],
       [  4,  29,  52],
       [  5,  25, 136],
       [  6,  27, 122],
       [  7,  27, 178],
       [  8,  21,  10],
       [  9,  28, 150],
       [ 10,  27,  80],
       [ 11,  29, 192]])

Note that if the DataFrame's columns are different dtypes. the dtype for the values array will be chosen to accomodate with all columns.

### Shape Attribute

  __shape attribute__ returns a tuple of the number of rows and number of columns.

In [5]:
df.shape

(11, 3)

### Index Attribute

__index__ attribute is used to get the **index object**.

In [6]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'], dtype='object')

### Name Attribute for columns and index DataFrame attributes

  - __columns__ and __index__ has their name attribute.

In [7]:
print(df.columns.name)

None

In [8]:
print(df.index.name)

None

We can set a name to columns and index to have more information about the data

In [9]:
df.columns.name = "Columns-Name"; df.index.name = "Index-Name"

In [10]:
df.columns.name , df.index.name

('Columns-Name', 'Index-Name')

### Info Method

   __info__ method prints a brief summary about the DataFrame

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, a to k
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VAR_1   11 non-null     int64
 1   VAR_2   11 non-null     int64
 2   VAR_3   11 non-null     int64
dtypes: int64(3)
memory usage: 352.0+ bytes

### Describe Method

In [12]:
df.describe()

Columns-Name      VAR_1      VAR_2       VAR_3
count         11.000000  11.000000   11.000000
mean           6.000000  26.363636  102.909091
std            3.316625   2.730301   58.824237
min            1.000000  21.000000   10.000000
25%            3.500000  25.500000   59.000000
50%            6.000000  27.000000  108.000000
75%            8.500000  28.500000  143.000000
max           11.000000  29.000000  192.000000

### Size Attribute

In [13]:
df.size

33

### Size In Bytes

In [14]:
df.memory_usage()

Index    88
VAR_1    88
VAR_2    88
VAR_3    88
dtype: int64

In [15]:
88 * 8 * 4 /1024

2.75