# Pandas Operations

In [ ]:
import pandas as pd
import numpy as np
from random import choices, seed, sample, shuffle
from string import ascii_letters, ascii_uppercase

# Data Example

In [ ]:
seed(10111)
df = pd.DataFrame({'VAR_1': range(1, 7),
                  'VAR_2': choices(range(20, 30), k = 6),
                  'VAR_3': sample(range(10, 200, 14), k = 6)})
df


### The count() method: 
It provides the number of Non Missing Data for columns (axis =0) or rows(axis = 1)

### Unique Method
__unique__ method is a Series method, which works only with one variable from a DataFrame. and returns an array of unique values.

### nunique method

It returns the number of unique values.

### value_counts 

It returns a table of values.

### duplicated method

- It checks for  complete duplicates (all variables) using df.duplicated method.
- Decide which one to consider duplicate with keep option (first, last, False)

### drop_duplicates 
  - Decide on which one to keep or drop using keep argument (first, last, False)

### Example of dropping duplicates

In [ ]:
dup_df = pd.DataFrame({'Col_1': [3, 2, 5, 3, 5, 2], 
                      'Col_2': [3, 1, 4, 3, 4, 2],
                      "Col_3":[3, 2, 5, 3, 5, 2]})
dup_df

### Number of Duplicates

Chain the **sum** function to **duplicated** method.

### Dropping Duplicates 

### First retained

### Last retained

### Drop all duplicates

## Sorting 

### sort_index

In [ ]:
ind = list(ascii_letters)[:7]
shuffle(ind)

cols = list(ascii_uppercase)[:4]
shuffle(cols)

dat = np.array(choices(range(100), k = 28)).reshape(7, 4)
ind_df = pd.DataFrame(dat, index = ind, columns = cols)
ind_df

### Sort index by rows

### Sort index by columns

### sort by row an column indexes

### Sort Values by column

### Sort by two columns

### Sort in Descending order

# Grouping

In [ ]:
df = pd.DataFrame({'Regions':['East', 'East', 'East', 'West', 'West', 
                             'South', 'South', 'South', 'South', 'North'], 
                  'Company':['C1', 'C2', 'C3', 'C1', 'C3', 'C4', 'C2','C3', 'C1', 'C2'], 
                  'Quantity': [1200, 3000, 2300, 5400, 2200, 1300, 2700, 6400, 7200, 
                               10000]})
df

### groupby method

In [ ]:
df.groupby?

### Grouping Example

In [ ]:
by_region = df.groupby('Regions')

In [ ]:
by_region

### Groups Internally

In [ ]:
list(by_region)

### Aggregation

In [ ]:
by_region.sum()

### Grouping in one step

In [ ]:
df.groupby(by = 'Regions').sum()

### Grouping by more columns

In [ ]:
df.groupby(['Regions', 'Company']).median()

### The count  Function Example

In [ ]:
df.groupby('Regions').count()

### Describe method with Grouping

In [ ]:
df.groupby('Regions').describe().transpose()

In [ ]:
df.groupby('Regions').describe().transpose()['East']

In [ ]:
df.groupby('Regions').describe().loc['East']

# The aggregate function AGG

In [ ]:
seed(234)
df = pd.DataFrame({'var_1': choices(range(10, 300, 30),  k = 6),
                     'var_2': sample(range(1, 999, 100), k = 6),
                     'key_1': ['a', 'a', 'c', 'c', 'd', 'e'], 
                     'key_2': ['one', 'two', 'one', 'two', 'one', 'one']})
df

In [ ]:
grouped = df.groupby('key_1')

### A List of Functions with Agg Method

In [ ]:
grouped.agg([np.size, np.mean, min, max, np.std])

In [ ]:
df.groupby(by='key_1').agg([np.size, np.mean, min, max, np.std])

### Different agg functions for differrent columns

In [ ]:
grouped.agg({'var_1': 'mean', 'var_2': 'median'})

# Practice

In [ ]:
#!pip install rdatasets

In [ ]:
# import the data
from rdatasets import data

In [ ]:
iris = data('iris')

### Task: 

The Dataset has five variables. four are numeric and one is categorical. We want to answer the following questions: 

   - How many categories? 
   
   - What is the mean of each species?
   
   - The median, variance, standard deviation, min value, max value.
   
   - Compute the summary statistics for the variables **Sepal.length and Petal.Length** (not all the variables)