# Numpy methods

In [ ]:
import numpy as np

In [ ]:
arr1 = np.arange(20)
arr1

In [ ]:
arr2 = np.random.randint(0, 10, 10)
arr2

### 1. Reshape method

   this method changes the shape of an array by passing the number of rows and the number of columns

In [ ]:
arr1.shape

In [ ]:
arr1.reshape(4, 5)

In [ ]:
arr2.shape

In [ ]:
arr2.reshape(2, 5)

## Manupulating Array Shapes 

### Flattening an Array

  - Flattening an array means transforming a multidimensional array inot a one-dimensional array.

#### Ravel()
   
   - ravel method does not make a copy of an array, it returns a view of an array instead.

In [ ]:
a = np.array([np.arange(12).reshape(3, 4), 
             np.arange(12, 24).reshape(3, 4)])
a

In [ ]:
a.shape

In [ ]:
a_ravel = a.ravel()
a_ravel

In [ ]:
a_ravel.shape

#### flatten()

  - Flatten method makes a copy of an array

In [ ]:
a_flat = a.flatten()
a_flat

In [ ]:
a_flat.shape

#### shape()

  - we can use shape to reshape an array by assigning a tuple to it

In [ ]:
a.shape = (6, 4)
a

In [ ]:
b = a.copy()
b

#### tranpose() 

  - It is a common task in linear algebra to transpose matrices. We can achieve that by using transpose method

In [ ]:
b_transp = b.transpose()
b_transp

#### resize()

  - resize works just the reshape method but it modifies the array it works on. Two important features of resize, it changes both the **size** and the **shape**. 
  
  - You need to pay attention to how the data is stored in memory, for example by row (c) or by column (Fortran)

##### Example of using reshape

In [ ]:
c = b_transp.copy()
c.resize((2, 12))
c

#### other examples of reshape

In [ ]:
arr = np.array([[2, 4, 6], [0, 1, 2]], order = 'C') 
arr.resize((2, 1)) 
arr

In [ ]:
# Resize the previous array to have one column and two rows
arr = np.array([[2, 4, 6], [0, 1, 2]], order = 'F') 
arr.resize((2, 1)) 
arr

In [ ]:
arr = np.array([[2, 4, 6], [0, 1, 2]], order = 'C') 
arr

We have to use the argument __refcheck = False__ if the memory is allocated for other object, otherwise resize fails

In [ ]:
arr.resize(2, 2)

In [ ]:
## We can fix the error by adding refcheck = False
arr.resize(2, 2, refcheck = False)
arr

## Joining Arrays (Concatenation)

  - **concatenate method**

  **1. Joing 1-D arrays**

In [ ]:
arr1 = np.array([11, 22, 33])

arr2 = np.array([44, 55, 66])

arr = np.concatenate((arr1, arr2))

arr

  **2. Joining 2-D arrays**
  
   - Joining 2-D arrays requires the axis we want to join on (axis = 0 ==> rows, axis = 1 ===> columns)

In [ ]:
mat_1 = np.array([[10, 11],
                 [20, 21]])
mat_2 = np.array([[1, 2],
                 [3, 4]])

####  Joining on rows

In [ ]:
mat_row = np.concatenate((mat_1, mat_2), axis = 0)
mat_row

####  Joining on columns

In [ ]:
mat_col = np.concatenate((mat_1, mat_2), axis = 1)
mat_col

## Stacking Arrays

  - We have already seen the concatenate method, and now we see other methods

### 1. Stacking horizontally

   - Stacking horizontally means concatenating arrays by columns. We achieve that by passing a tuple argument to htack method

In [ ]:
h1 = np.array(np.arange(9).reshape(3,3))
h2 = np.array(np.arange(10, 19).reshape(3,3))
print(h1)
print(h2)

In [ ]:
np.hstack((h1, h2))

  We can obtain the same result using concatenate method on the second axis (axis =1)

In [ ]:
np.concatenate((h1, h2), axis=1)

### 2. Stacking vertically

   - Stacking vertically can be achieved using vstack method

In [ ]:
v1 = np.array(np.arange(9).reshape(3,3))
v2 = np.array(np.arange(0, 25, 3).reshape(3, 3))
v1

In [ ]:
v2

In [ ]:
np.vstack((v1, v2))

We can achieve the same result using concatenate with axis = 0

In [ ]:
np.concatenate((v1, v2), axis = 0)

### 3. Depth stacking 

   - Depth stacking means using the third axis (depth). dstack method is used for this purpose by passing a tuple to it. 
   
   - Example: We can stack a 2-D array image on top of each other

In [ ]:
a = np.arange(9).reshape(3, 3)
b = np.arange(0, 33, 4).reshape(3,3)
print(a)
print(b)

In [ ]:
d_stacked = np.dstack((a, b))
d_stacked

### 4. Stacking one-demensional array

##### 4.1. Column Stacking:

   column_stack method stack one-demensional arrays column-wise by passing a tuple to it.

In [ ]:
c1 = np.arange(3)
c2 = c1 * 3
c3 = (c1 + c2) * 3 
c1, c2, c3

In [ ]:
c_s = np.column_stack((c1, c2, c3))
c_s

Compare with vstack method, the results are totally different

In [ ]:
np.vstack((c1, c2, c3))

Warning: hstack method does not work as intended on one-dimensional arrays

In [ ]:
np.hstack((c1, c2, c3))

  One benefit from column_stack method, it works just like hstack method for stacking two-dimensional arrays

In [ ]:
# Stack the previously stacked array
np.column_stack((c_s, c_s))

  Check if the two methods give the same results

In [ ]:
np.column_stack((c_s, c_s)) == np.hstack((c_s, c_s))

#### 4.2 Row stacking

  - rwo_stack method does row-wise stacking by putting each row on top the other. And it results a two-dimensional array.

In [ ]:
r1 = np.linspace(1, 5, num = 5)
r2 = r1 * 2
r1, r2

In [ ]:
r_s = np.row_stack((r1, r2))
r_s

 for some reasons, **vstack** method works the same as **row_stack** on one-dimensional arrays

In [ ]:
np.vstack((r1, r2))

In [ ]:
# We can check if they are equal 
np.vstack((r1, r2)) == np.row_stack((r1, r2))

In [ ]:
np.vstack((r1, r1, r1, r2, r2, r2))

In [ ]:
np.row_stack((r1, r1, r1, r2, r2, r2))

### Remarks

  - **vstack, and row_stack methods on one-dimensional arrays returns a tww-dimensional array**
  
  - **row_stack resutls the same results as vstack on two-dimensional arrays**

In [ ]:
np.row_stack((r_s, r_s)) == np.vstack((r_s, r_s))

## Splitting Arrays

   - We have already seen that we can joing arrays in different ways. What about the opposite process, **splitting**. We can do that as well horizontally, vertically or depth-wise. 
   
   - The methods used in this section are 
   
       - **hsplit for horizontal splitting** 
       
       - **vsplit for vertical splitting**
       
       - **dsplit for depth-wise splitting**
       
       - **split** method. This method takes an extra argument (axis) to determine whether we split vertically (axis =1) or horizontally (axis = 0)

### 1. Horizontal Splitting (column-wise)

In [ ]:
h = np.arange(16).reshape(4,4)
h

In [ ]:
np.hsplit(s, 2)

 we can achieve the same results using **split** method and set axis =1

In [ ]:
np.split(h, 2, axis = 1)

In [ ]:
## Split into 4 sub-arrays
np.hsplit(h, 4)

### 2. Vertical Splitting (row-wise)

In [ ]:
v = np.arange(0, 27, 3).reshape(3,3)
v

In [ ]:
np.vsplit(v, 3)

We can achieve the same results using **split** method and set axis = 0.

In [ ]:
np.split(v, 3, axis = 0)

### 3. Depth-Splitting (Depth-wise)

In [ ]:
d = np.arange(8).reshape(2, 2, 2)
d

In [ ]:
np.dsplit(d, 2)

## Numpy Data Types

   Numpy arrays stores only one data type

In [ ]:
a = np.arange(5, dtype = "int32")
a.dtype

the data type can inform us of the size of the data in bytes. We can check the size of a numpy array using the __itemsize__ attribute of __dtype__ class as follows

In [ ]:
a.dtype.itemsize

#### for the list of all data types

In [ ]:
print(np.sctypeDict.keys())

## Numpy Arrays Attributes

In [ ]:
arr = np.arange(1, 21).reshape(2, 10)
arr

It is obvious that we need to need to know the shape of our arrays. **ndim array method is the one we are after**

In [ ]:
arr.ndim

#### Size 

   It is convenient to know the size (number of items in the array) of the array objects

In [ ]:
arr.size

#### Size in bytes

  **itemsize attributes give the number of bytes of each element in the array**

In [ ]:
arr.itemsize

If we want to know the size of the whole array we may multiply the size of the array by the number of bytes

In [ ]:
arr.size * arr.itemsize

However, it should better if we have an attribute that gives us the total number of bytes an array requires. That is right, **nbytes attribute does just this**

In [ ]:
arr.nbytes

#### T Attribute 

   we have seen the function __transpose__, __T__ attribute does the same work on arrays

In [ ]:
arr.T

### Note: 

   If the number of dimensions is less than two, __T__ attribute gives us as a view of an array (we will talk about views later in this tutorial)

In [ ]:
ar = np.arange(6)

In [ ]:
ar

In [ ]:
ar.T

In [ ]:
(ar.T)

#### flat attribute
---------------
   - This method returns a **a numpy iterator object**, because it is an instance of __numpy.flatiter__ class. It acts like the built-in Python's __iterator object__ (iter).

In [ ]:
a = np.arange(1, 7).reshape(2, 3)
a

In [ ]:
f = a.flat
f

In [ ]:
type(f)

In [ ]:
## In order to extract the element of an iterator you can run a for loop
for item in f:
    print(item, end = " ")

we can also access the element by indexing

In [ ]:
f[0], f[1], f[3]

the first element is the first number in the first row, the second element is the second number in the same row, and so on. When the elements finish in the same row, the next one will be the first one in the second row and so forth.

We can get multiple elmements as well

In [ ]:
f[[0, 4]]

In [ ]:
## Or more than two elements
f[[0, 2, 4, 5]]

flat attribute is setteble as well. We can assign new values

In [ ]:
a.flat = 11
a

In [ ]:
# Or just one element
a.flat[0] = 10
a

In [ ]:
# Or multiple values 
a.flat [[0, 2, 3, 5]] = 22
a

## Converting Arrays

  It is very nice of numpy that gives us the chance to convert an array to a python list using __tolist()__ method.

In [ ]:
arr = np.arange(8)
arr

In [ ]:
arr.tolist()

Two dimensional arrays will be converted to a list of lists

In [ ]:
arr2 = np.arange(8).reshape(2, 4)
arr2.tolist()

## Creating Views and Copies
==================================

  - **The View concept comes from relational database management systems, it simply means you can have a look at the table content from where it is located but you are not making any copy of the table(s). This is very convenient, because SQL Tables tend to be large**
  
  
  - **Views in numpy has the same concept, views are read-only, you can't change the content of an object**
  
  
  - **In numpy, a view is an object refers to the same location in memory another object refers to**
  
  - **A copy means just a copy of an object, then we end up having two objects having the same data, but we can change the content of one object without losing the original data**
  
  
  - **A view can be created using view() method**
  
  - **A copy can be created using the copy() method()**

### Example of Creating Views and Copies

   We will use an image from the scipy module

In [ ]:
from scipy import misc
import matplotlib.pyplot as plt

In [ ]:
img = misc.face()

In [ ]:
plt.imshow(img)

In [ ]:
plt.show()

In [ ]:
img

In [ ]:
img.shape

This shape means we have (depth, rows, columns), an image of 768 deep (768 arrays), 1024 rows, and 3 columns. In other words 768 matrices of 1024x3 stacked or arranged one behind another.

In [ ]:
print("The depth is: ", img.shape[0])
print("The number of rows: ", img.shape[1])
print("The number of columns: ", img.shape[2])

In [ ]:
face_copy = img.copy()
face_view = img.view()

In [ ]:
plt.subplot(121)
plt.imshow(face_copy)
plt.subplot(122)
plt.imshow(face_view)
plt.show()

Let us subset the copy

In [ ]:
img_slice = face_copy[:, :, :]
plt.imshow(img_slice)
plt.show()

In [ ]:
# We reset the slice to be white
img_slice.flat= 255
img_slice

In [ ]:
plt.subplot(121)
plt.imshow(face_copy)
plt.title('Face Copy Image')
plt.subplot(122)
plt.imshow(img_slice)
plt.title('The Sliced Image')
plt.show()

### Can We Change the Content of a View?

In [1]:
face_view.flat = 12

NameError: name 'face_view' is not defined